.orderHistoryList {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.orderHistoryListHeader {
  display: grid;
  grid-template-columns: 10rem 10rem 1fr auto;
  align-items: center;
  column-gap: 3rem;
  text-transform: capitalize;
  text-align: center;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid var(--color-dominant-lighter);
  font-weight: 500;
  color: var(--color-font-light-2);
}

.orderHistoryListHeader > :last-child {
  display: none;
}

.orderHistoryListHeader + li > p:first-child {
  position: relative;
}

.orderHistoryListHeader + li > p:first-child::after {
  content: "latest";
  position: absolute;
  top: -125%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  background-color: var(--color-dominant-lighter);
  color: var(--color-dominant-darker);
  font-size: var(--font-size-xs);
  letter-spacing: 0.25rem;
  opacity: 0.7;
}

@media only screen and (min-width: 36em) {
  .orderHistoryListHeader > :last-child {
    display: block;
  }
}

@media only screen and (min-width: 62em) {
  .orderHistoryListHeader + li > p:first-child::after {
    top: 0%;
    left: -60%;
    width: auto;
    text-align: center;
  }
}
