.accountDetailsBody {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15rem;
}

.accountSubheading {
  margin-top: 2rem;
  color: var(--color-font-light-1);
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

@media only screen and (min-width: 48em) {
  .accountDetailsBody {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
  }
}
