.featuresImageDiv {
  position: relative;
  min-height: 40rem;
}

.featureImage {
  object-fit: cover;
}

.featureItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5rem;
  padding: 3rem;
}
