.reviews {
  list-style: none;
  position: relative;
  height: 50rem;
}

.slideLeft,
.slideRight {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 30%;
  font-size: var(--font-size-2);
  fill: var(--color-font-light-2);
}

.slideLeft {
  left: 5%;
}

.slideRight {
  right: 5%;
}

.slideDots {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);

  display: flex;
  column-gap: 0.5rem;
}

.slideDot {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: var(--color-dominant-lighter);
  transition: all 0.3s;
}

.slideDot:hover,
.slideDot.active {
  background-color: var(--color-dominant-darker);
}
