.list {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(1fr);
  column-gap: 3rem;
  row-gap: 3rem;
}

.item {
  text-align: center;
}

.itemTitle {
  margin: 2rem 0;
  font-size: var(--font-size-1);
  color: var(--color-font-light-1);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.itemPrice {
  font-size: var(--font-size-1);
  color: var(--color-font-light-1);
}

@media only screen and (min-width: 36em) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 62em) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
