.contactForm {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}

.contactFormBody {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
}

.formGroup {
  position: relative;
  align-self: center;
}

.formSubmitBtn {
  align-self: center;
  width: 10rem;
}

.formFeedback {
  text-align: center;
  color: var(--color-font-light-1);
  font-weight: 600;
}
