.list {
  list-style: none;
  display: flex;
  column-gap: 4.5rem;
  transition: all 0.4s;
}

@media only screen and (max-width: 47.99em) {
  .list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-dominant-lighter);
    clip-path: inset(0 0 100% 0);

    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5rem;
    font-size: var(--font-size-3);
  }

  .mobile.list {
    clip-path: inset(0 0 0 0);
  }
}

@media only screen and (min-width: 48em) {
  .list {
    position: relative;
  }
}
