.footer {
  padding: 5rem 0;
  background-color: var(--color-background-grey);
}

.footerContent {
  display: grid;
  grid-template-columns: repeat(1fr);
  align-items: center;
  row-gap: 5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  align-items: center;
}

.contactHeading {
  text-transform: capitalize;
}

.contactList {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.contactItem {
  color: var(--color-font-light-1);
  display: grid;
  grid-template-columns: 8rem 1fr;
}

.contactItemTitle {
  text-transform: capitalize;
}

.contactItemLink {
  position: relative;
}

.contactItemLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.15rem;
  background-color: currentColor;
  transition: all 0.3s;
}

.contactItemLink:hover::after {
  width: 100%;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialList {
  list-style: none;
  display: flex;
  column-gap: 2rem;
  font-size: var(--font-size-1);
}

.socialItem {
  transition: all 0.3s;
}

.socialItem:hover {
  transform: translateY(-0.5rem);
}

@media only screen and (min-width: 36em) {
  .footerContent {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact {
    align-items: stretch;
  }
}
